.topResultPanel {
    padding: 6px;
    margin-bottom: 12px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.topResultPanel h1 {
    display: inline;
    margin-right: 6px;
    font-size: 1.6rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topResultPanel span {
    color: #646464;
}

.topResultPanel .hr {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #e8e8e8;
}