.filterBar {
    max-width: 206px;

    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.filterBar .filtered {
    padding: 6px 12px;
    border-bottom: 1px solid #e8e8e8;
}

.filterBar .filtered .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
}

.filterBar .filtered .title {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
}

.filterBar .filtered .unselect {
    color: #4990e2;
    font-size: 1.4rem;
    font-style: italic;

    cursor: pointer;
}

.filterBar .filteredItemContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px;
}

.filterBar .filteredItem {
    padding: 6px;
    border-radius: 16px;
    background-color: lightgray;
    color: gray;

    display: flex;
    align-items: center;
    gap: 6px;

    font-size: 14px;
}

.filterBar .filteredItem:hover {
    cursor: pointer;
}

.filterBar .filteredItem .delete {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background-color: #888;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

button.filt {
    padding: 6px;
    margin: 6px;
    background-color: orange;
    border: none;
}

button.filt:hover {
    background-color: darkorange;
    cursor: pointer;
}