.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.inputs {
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.inputs input {
    display: block;
    width: 100%; /* https://stackoverflow.com/a/42421490 */
    height: 32px;
    border: 1px solid #888;
    padding: .6rem .3rem;
    text-align: center;
    border-radius: .3rem;
    line-height: inherit;
}

.inputs .rightArrow {
    min-width: 1.2rem;
    min-height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs .rightArrow .icon {
    width: 0;
    height: 0;
    content: "";
    border-top: 0.4rem solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0.4rem solid transparent;
    border-left: 0.4rem solid #000;
}

.priceFilters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.priceFilters button {
    display: block;
    padding: .6rem .3rem;
    margin-bottom: .6rem;
    text-align: center;
    background-color: #f6f7f9;
    border: 1px solid #e8e8e8;
    border-radius: .3rem;
    text-transform: uppercase;
    transition: background-color .3s ease-in,border-color .3s ease-in,color .3s ease-in;
    cursor: pointer;
    width: 49%;
}

.priceFilters button.btnActive {
    border: 1px solid #e5101d;
    background-color: #e5101d;
    color: #fff
}